{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<style>
  .form-account-heading {
    margin-bottom: 1rem;
  }

  .form-account {
    max-width: 600px;
    background: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
  }
  .form-account label:not(.include-label) {
    display: none;
  }
  
</style>

<div class="container my-5">
  <div class="form-account shadow">
    <h2 class="form-account-heading">{% trans "Sign In" %}</h2>
    <form method="post" action="{% url 'account_login' %}" class="needs-validation" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <div class="mt-4 d-flex justify-content-center">
        <button type="submit" class="btn btn-dark btn-lg">{% trans "Sign In" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}