{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}


<div class="container my-5">
  <div class="form-account shadow">
    <h2 class="form-account-heading">{% trans "Sign Out" %}</h2>
    <p>{% trans 'Are you sure you want to sign out?' %}</p>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <div class="mt-4 d-flex justify-content-center">
        <button type="submit" class="btn btn-dark btn-block btn-lg">{% trans 'Sign Out' %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}