{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}  

{% block content %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

<h1>{% trans "Password Reset" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-3 offset-md-3">
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {% crispy form %}
                <div class="form-group row">
                    <div class="col-sm-12"> 
                        <button class="btn btn-primary btn-block" type="submit" name="action">{% trans 'Reset My Password' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}