{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container my-5">
    <div class="form-account shadow">
        <h2 class="form-account-heading">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="mt-4 d-flex justify-content-center">
                    <button class="btn btn-dark btn-lg" type="submit" name="action">{% trans "Change Password" %}</button>
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock content %}
