{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container">
  <div class="text-center">
    <h1>{% trans "Register" %}</h1>
    {% url 'account_login' as login_url %}
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="post" action="{% url 'account_signup' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" id="subscribeNews">
          <label class="form-check-label" for="subscribeNews">{% trans "Subscribe to Newsletter" %}</label>
        </div>
        <button type="submit" class="btn btn-primary">{% trans "Register" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
