.modal img {
    max-height: 400px; /* Adjust as needed */
    width: auto;
    display: block;
    margin: 0 auto; /* Centers the image */
}

html, body {
    height: 100%;
}

body > footer {
    position: sticky;
    top: 100vh;
}

#hero_image {
    background-image: url('../images/hero_image.jpg');
    background-size: cover;
    background-position: center;
  }


@media (min-width: 1025px) {
 
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
}