{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for item in menu_items %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                {% if item.image %}
                <img src="{% static 'images/mississippi_mud.jpg' %}" alt="Description">
                {% else %}
                <img src="{% static 'default.jpg' %}" class="card-img-top" alt="Default Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <p class="card-text">${{ item.price }}</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#itemModal{{ item.id }}">
                        View Details
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="itemModal{{ item.id }}" tabindex="-1" aria-labelledby="itemModalLabel{{ item.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="itemModalLabel{{ item.id }}">{{ item.name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                        <p>{{ item.description }}</p>
                        <p>Price: ${{ item.price }}</p>
                        <form method="post" action="{% url 'add_to_cart' item.id %}">
                            {% csrf_token %}
                            <input type="number" name="quantity" min="1" class="form-control" value="1">
                            <button type="submit" class="btn btn-danger mt-2">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}