{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for item in menu_items %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#itemModal{{ item.id }}">
                        View Details
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="itemModal{{ item.id }}" tabindex="-1" aria-labelledby="itemModalLabel{{ item.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="itemModalLabel{{ item.id }}">{{ item.name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{ item.image.url }}" class="img-fluid" alt="{{ item.name }}">
                        <p>{{ item.description }}</p>
                        <p>Price: ${{ item.price }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" onclick="addToCart({{ item.id }});">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<script>
function addToCart(itemId) {
    // Implement AJAX to handle adding items to the cart
    console.log("Add to Cart: Item ID " + itemId);
    // You can use AJAX here to update the cart without a page refresh
}
</script>
